body {
    align-items: center;
    font-family: 'VT323', monospace;
    background-color: black;
    font-size: x-large;
    color: #70db64;
    background-image: url('imagesa1/space.jpg');
    margin: 0px;
}

#navokok {
    z-index: 1;
    /* position: fixed; */
    width: 100%;
    background-color: rgba(134, 200, 125);
    margin-bottom: 30px;

}

#navokok a {
    padding: 12px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    font-size: x-large;
}

#navokok a:hover {
    background-color: rgba(0, 0, 0);
    color: rgb(134, 200, 125);
}

#navbarSupportedContent {
    justify-content: center;
}

img {
    box-shadow: 6px 6px 4px #bec6be;

}
h3,
h4,
b {
    color: #ffff00;
    font-weight: bold;

}

.name {
    position: relative;
    top: 20px;
    text-shadow: 2px 2px red, 3px 3px rgb(25, 47, 148), 5px 5px rgb(231, 231, 231);
    color: #ffff00;
}

h4 {
    color: #ff9f32;
    font-size: x-large;
}

a {
    color: rgb(231, 231, 231);
}

th,
table,
td {
    font-size: 21px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgba(66, 71, 109, 0.527);
    border-collapse: collapse;
    padding: 5px;
}

table {
    border: 3px solid;
    border-color: rgb(231, 231, 231);
}

th {
    color: rgb(25, 47, 148);
    background-color: rgb(134, 200, 125);
    text-align: left;
}

.line {
    display: inline-block;
    width: 100%;
    border-top: 0.2px solid white;
    margin-bottom: 20px;
    padding-right: 15%;
    padding-left: 15%;
}

#allelements {
    margin-left: 1%;
    margin-right: 1%;
}

.row {
    margin-right: auto;
    margin-left: auto;
}
